<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div class="title_container">
				<h1>USER UPDATED</h1>
				<%= image_tag("mysize_logo.png") %>
			</div>
		</div>
	</div>
</div>