@font-face {
    font-family: 'arvil';
    src: url(asset-path('arvil-regular.eot'));
    src: url(asset-path('arvil-regular.eot?#iefix')) format('embedded-opentype'),
         url(asset-path('arvil-regular.woff')) format('woff'),
         url(asset-path('arvil-regular.ttf')) format('truetype'),
         url(asset-path('arvil-regular.svg#arvil_sansregular')) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'opensans';
    src: url(asset-path('opensans-regular.eot'));
    src: url(asset-path('opensans-regular.eot?#iefix')) format('embedded-opentype'),
         url(asset-path('opensans-regular.woff')) format('woff'),
         url(asset-path('opensans-regular.ttf')) format('truetype'),
         url(asset-path('opensans-regular.svg#open_sansregular')) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'mongolian';
    src: url(asset-path('monbaiti.eot'));
    src: url(asset-path('monbaiti.eot?#iefix')) format('embedded-opentype'),
         url(asset-path('monbaiti.woff2')) format('woff2'),
         url(asset-path('monbaiti.woff')) format('woff'),
         url(asset-path('monbaiti.ttf')) format('truetype'),
         url(asset-path('monbaiti.svg#mongolian_baitiregular')) format('svg');
    font-weight: normal;
    font-style: normal;

}


input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px rgb(229,232,231) inset; /* Change the color to your own background color */
    -webkit-text-fill-color: rgb(0,0,0);
}
input:-webkit-autofill:focus {
    -webkit-box-shadow:0 0 0 50px rgb(229,232,231) inset; /* Change the color to your own background color */
    -webkit-text-fill-color: rgb(0,0,0);
}

textarea:focus, input:focus{
    outline: 0;
}



body {
    .settings_image{
        width: 20px;
        height: 20px;
    }
    .alert-danger{
       padding: 3px;
       font-size: 15px;
       width: 100%;
       color: #fe7272;
       border: 0;
       text-align: center;
       background-color: rgba(254,114,114,0.25);
    }

    background-color: rgb(255,255,255);
    font-family: "mongolian";
    .title_container{
        text-align: center;
        width: 100%;
        margin-bottom: 10px;

        h1{
            display: inline-block;
            color: rgb(1,1,1);
            vertical-align: baseline;
            font-size: 23px;
            margin-top: 0;
        }
        img{
            display: inline-block;
            height: 21px;
            margin-left: -5px;
            margin-bottom: 10px;
        }
    }
    .labels_and_fields{

        display: table;
        padding-bottom: 10px;

        .edit_field_container{
            box-shadow: 3px 5px 5px #cccccd;
            padding: 0;
            text-align: left;
            float: none;
            display: table-cell;
            width: 100%;
            margin-bottom: 20px;

            .mysize_textbox{
                margin: 0;
                border-radius: 2px;
                color: rgb(0,0,0);
                vertical-align: middle;
                font-size: 20px;
                background-color: rgb(229,232,231);
                border: 0;
                width: 100%;
                padding-left: 20px;
                padding-top: 1px;
                padding-bottom: 1px;
            }

            .bottom_border_textbox{
                border-bottom: 2px solid rgba(4,4,4,0.25);
            }
        }
        .edit_label_container{
            padding: 0;
            text-align: left;
            float: none;
            display: table-cell;
            margin-bottom: 20px;
            width: 50px;

            label{
                display: block;
                font-family: "ariel";
                color: rgb(0,0,0);
                font-size: 20px;
                margin-right: 4px;
                text-align: left;
                margin-top: 0;
                height: 32px;
                margin-bottom: 0;
                padding-bottom: 1px;
                padding-top: 1px;
            }
            .last_label{
                height: 30px;
            }
        }

    }
    

    .textbox_container{
        box-shadow: 3px 5px 5px #cccccd;
        padding: 0;
        text-align: left;
        float: none;
        margin-bottom: 20px;

        .mysize_textbox{
            margin: 0;
            border-radius: 2px;
            color: rgb(0,0,0);
            font-size: 20px;
            background-color: rgb(229,232,231);
            border: 0;
            width: 100%;
            padding-left: 20px;
        }

        .bottom_border_textbox{
            border-bottom: 2px solid rgba(4,4,4,0.25);
        }
    }

    h2{
        font-family: "mongolian";
        color: #8c8b8b;
        font-size: 20px;
        cursor: pointer;
        margin-top: 0;
    }

    .forgot_container{
        float: right;   
    }
    .settings_container{
        left: 45px;
        position: absolute;
        h2{
            font-size: 14px;
        }
    }
    .not_a_member_container{
        float: left;
    }
    .logged_title_container{
        text-align: center;
        padding: 0;
        margin-bottom: 10px;
        margin-top: 10px;
        h1{
            font-family: "mongolian";
            color: rgb(0,0,0);
            font-size: 40px;
            width: 100%;
            margin: 20px 0;
        }
        
    }
    .nice_container{
        text-align: center;
        section{
            font-family: "ariel";
            display: block;
            color: rgb(3,3,3);
            font-size: 20px;
            padding-bottom: 20px;
            padding: 0;

        }
        .no_size_margin_bottom{
            margin-bottom: 30px;
        }
        
        h2{
            font-family: "mongolian";
            display: block;
            color: rgb(255,53,171);
            font-size: 26px;
            margin-bottom: 10px;
            margin-bottom: 20px;
        }
        a{
            img{
                height: 35px;
                margin-bottom: 20px;
                padding-top: 2px;
            }
        }
        .dont_know{
            padding-bottom: 2px;
        }
    }
    .button_padding{
        padding-right: 30px;
        padding-left: 30px;

       .logout_button{
        font-family: "opensans";
        font-size: 12px;
        padding: 4px;
        } 
    }
    .login_button{
        border: 0;
        background-color: transparent;
    }
    
}

 .centered_text_container{
    text-align: center;
 }
 



.azure_button{
    background-color: rgb(255,53,171);
    box-shadow: 1px 1px 1px rgb(90,90,90);
    font-family: "mongolian";
    text-align: center;
    border-radius: 3px;
    color: rgb(254,253,253);
    padding: 0;
    width: 100%;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    font-size: 20px;
    border: 0;

    &.black_back{
        background-color: rgb(42,42,42);
    }
}

button{
    img{
        height: 11px;
        margin-bottom: 2px;
    }
}




@media all and (max-width: 1200px) { /* screen size until 1200px */
    body {
        font-size: 1.5em;
    }

    h1 {
        font-size: 2.4em;
    }
}

@media all and (max-width: 1000px) { /* screen size until 1000px */
    body {
        font-size: 1.2em;
    }

    h1 {
        font-size: 2.1em;
    }
}

@media all and (max-width: 500px) { /* screen size until 500px */
    body {
        font-size: 1.1em;
    }

    h1 {
        font-size: 1.9em;
    }
}