@font-face {
    font-family: 'arvil';
    src: url(asset-path('arvil-regular.eot'));
    src: url(asset-path('arvil-regular.eot?#iefix')) format('embedded-opentype'),
         url(asset-path('arvil-regular.woff')) format('woff'),
         url(asset-path('arvil-regular.ttf')) format('truetype'),
         url(asset-path('arvil-regular.svg#arvil_sansregular')) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'opensans';
    src: url(asset-path('opensans-regular.eot'));
    src: url(asset-path('opensans-regular.eot?#iefix')) format('embedded-opentype'),
         url(asset-path('opensans-regular.woff')) format('woff'),
         url(asset-path('opensans-regular.ttf')) format('truetype'),
         url(asset-path('opensans-regular.svg#open_sansregular')) format('svg');
    font-weight: normal;
    font-style: normal;

}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #908c8c;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #908c8c;
}

textarea:focus, input:focus{
    outline: 0;
}



body {
    .settings_image{
        width: 20px;
        height: 20px;
    }
    .alert-danger{
       //font-size: 30.89px;
       padding: 3px;
       font-size: 15px;
       width: 100%;
       color: #fe7272;
       border: 0;
       text-align: center;
       background-color: rgba(254,114,114,0.25);
    }

    background-color: #e9e9ea;
    font-family: "arvil";
    .title_container{
        text-align: center;
        width: 100%;
        //padding: 0 55px;
        //margin-bottom: 30px;
        margin-bottom: 10px;

        h1{
            display: inline-block;
            color: rgb(251,180,40);
            //font-size: 73.79px;
            font-size: 32px;
            margin-top: 0;
        }
        img{
            display: inline-block;
            //height: 52px;
            height: 23px;
            vertical-align: baseline;
            margin-left: 6px;
            //margin-left: 12px;
        }
    }
    .labels_and_fields{

        display: table;
        padding-bottom: 10px;

        .edit_field_container{
            box-shadow: 3px 5px 5px #cccccd;
            padding: 0;
            text-align: left;
            float: none;
            display: table-cell;
            width: 100%;
            margin-bottom: 20px;

            .mysize_textbox{
                margin: 0;
                border-radius: 2px;
                color: rgb(144,140,140);
                //font-size: 36.89px;
                vertical-align: middle;
                font-size: 20px;
                background-color: rgb(254,255,255);
                border: 0;
                width: 100%;
                padding-left: 20px;
                padding-top: 1px;
                padding-bottom: 1px;
            }

            .bottom_border_textbox{
                border-bottom: 2px solid rgba(4,4,4,0.25);
            }
        }
        .edit_label_container{
            padding: 0;
            text-align: left;
            float: none;
            display: table-cell;
            margin-bottom: 20px;
            width: 50px;

            label{
                display: block;
                color: rgb(144,140,140);
                font-size: 20px;
                margin-right: 4px;
                text-align: left;
                margin-top: 0;
                height: 32px;
                margin-bottom: 0;
                padding-bottom: 1px;
                padding-top: 1px;
            }
            .last_label{
                height: 30px;
            }
        }

    }
    

    .textbox_container{
        box-shadow: 3px 5px 5px #cccccd;
        padding: 0;
        text-align: left;
        float: none;
        //margin-bottom: 50px;
        margin-bottom: 20px;

        .mysize_textbox{
            margin: 0;
            border-radius: 2px;
            color: rgb(144,140,140);
            //font-size: 36.89px;
            font-size: 20px;
            background-color: rgb(254,255,255);
            border: 0;
            width: 100%;
            padding-left: 20px;
        }

        .bottom_border_textbox{
            border-bottom: 2px solid rgba(4,4,4,0.25);
        }
    }

    h2{
        font-family: "arvil";
        color: #8c8b8b;
        //font-size: 36.89px;
        font-size: 20px;
        cursor: pointer;
        margin-top: 0;
    }

    .forgot_container{
        float: right;   
    }
    .settings_container{
        right: 45px;
        position: absolute;
        h2{
            font-size: 14px;
        }
    }
    .not_a_member_container{
        float: left;
    }
    .logged_title_container{
        text-align: center;
        padding: 0;
        //margin-bottom: 30px;
        margin-bottom: 10px;
        margin-top: 10px;
        h1{
            font-family: "arvil";
            color: rgb(251,180,40);
            //font-size: 104px;
            font-size: 40px;
            width: 100%;
        }
        
    }
    .nice_container{
        text-align: center;
        section{
            font-family: "opensans";
            display: block;
            color: rgb(144,140,140);
            //font-size: 32px;
            font-size: 18px;
            //padding: 0 50px;
            padding: 0;

        }
        
        h2{
            font-family: "arvil";
            display: block;
            color: rgb(251,180,40);
            //font-size: 64px;
            font-size: 26px;
            //margin-bottom: 30px;
            margin-bottom: 10px;
        }
        a{
            img{
                height: 35px;
                margin-bottom: 20px;
                padding-top: 2px;
            }
        }
        section{
            font-size: 15px;
            padding-bottom: 20px;
        }
        .dont_know{
            padding-bottom: 2px;
        }
    }
    .button_padding{
        padding-right: 30px;
        //padding-right: 100px;
        padding-left: 30px;
        //padding-left: 100px;

       .logout_button{
        font-family: "opensans";
        //font-size: 26px;
        font-size: 12px;
        //padding: 10px;
        padding: 4px;
        } 
    }
    .login_button{
        border: 0;
        background-color: transparent;
    }
    
}

 .centered_text_container{
    text-align: center;
 }
 
.azure_button{
    background-color: rgb(80,197,144);
    box-shadow: 2px 2px 3px #3aa072;
    font-family: "arvil";
    text-align: center;
    border-radius: 3px;
    color: rgb(255,255,255);
    padding: 0;
    width: 100%;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    //font-size: 54.19px;
    font-size: 20px;
    border: 0;

}

button{
    img{
        height: 10px;
    }
}




@media all and (max-width: 1200px) { /* screen size until 1200px */
    body {
        font-size: 1.5em;
    }

    h1 {
        font-size: 2.4em;
    }
}

@media all and (max-width: 1000px) { /* screen size until 1000px */
    body {
        font-size: 1.2em;
    }

    h1 {
        font-size: 2.1em;
    }
}

@media all and (max-width: 500px) { /* screen size until 500px */
    body {
        font-size: 1.1em;
    }

    h1 {
        font-size: 1.9em;
    }
}